<footer class="px-4 max-w-5xl w-full flex flex-row mx-auto my-4 py-5 justify-between border-t-2 border-zinc-900/[.2] hover:border-zinc-900/[.4] shadow-sm">
    <div class="flex flex-row gap-4">
        <p><a href="/">Kubíkovo</a></p>
        <p><a class="link" href="https://github.com/chamik/website" target="_blank">Source</a></p>
        <div class="flex flex-row gap-1">
            <p><a class="link" href="https://chamik.eu/feed.xml">Atom </a></p>
        </div>
    </div>
    <div class="flex flex-row gap-4">
        <p>{{ "now" | date: "%Y"}}</p>
    </div>
</footer>