<header class="px-5 py-8 text-center">
    <div class="max-w-4xl flex flex-col md:flex-row justify-between mx-auto border-b-4 border-b-cyan-600">
        <a href="/" class="relative my-auto pb-2 font-mono text-4xl font-black tracking-wide group">
            <h1 class="invisible md:visible transition duration-75 absolute group-hover:translate-x-bit group-hover:translate-y-bit text-cyan-600">Kubíkovo</h1>
            <h1 class="relative">Kubíkovo</h1>
        </a>
    
        <nav class="my-auto pb-2 text-[22px] -mb-[0.010rem]">
            <a href="/void/" class="transition-all inline-block underline hover:text-cyan-700">
                <p class="">void</p>
            </a>
            <!-- <p class="inline-block px-1">/</p>
            <a href="/about/" class="transition-all inline-block underline hover:text-cyan-700">
                <p class="">about</p>
            </a> -->
            <p class="inline-block px-1">/</p>
            <a href="/contact/" class="transition-all inline-block underline hover:text-cyan-700">
                <p class="">contact</p>
            </a>
        </nav>
    </div>
</header>