<header class="max-w-5xl w-full flex flex-col px-4 md:flex-row mx-auto my-4 py-3 justify-between shadow-md">
    <div class="w-80 my-auto mb-2">
        <a href="/">
            <h1 class="text-5xl font font-bold my-auto">Kubíkovo</h1>
        </a>
    </div>

    <nav class="flex my-auto">
        <div class="pb-2 text-[22px] -mb-[0.1rem] font-bold">
            <a href="/void/" class="transition-all inline-block hover:text-cyan-700">
                <p class="">archive</p>
            </a>
            <p class="inline-block px-1">|</p>
            <a href="/about/" class="transition-all inline-block hover:text-cyan-700">
                <p class="">about</p>
            </a>
            <p class="inline-block px-1">|</p>
            <a href="https://knih.chamik.eu/" class="transition-all inline-block hover:text-cyan-700">
                <p class="">Knih</p>
            </a>
            <p class="inline-block px-1">|</p>
            <a href="/contact/" class="transition-all inline-block hover:text-cyan-700">
                <p class="">contact</p>
            </a>
        </div>
    </nav>
</header>