---
layout: default
language: none
image: /assets/images/pfp.png
---

<div class="flex flex-col">
    {% assign featured = site.posts | sort: "date" | reverse | where: 'featured', true | first %}
    <p class="mb-4">FEATURED</p>
    <a href="{{ featured.url }}" class="mb-10">
        <article class="group relative flex items-center justify-center overflow-hidden w-full mb-3 h-auto shadow-lg">
            <div class="absolute flex w-full h-full transition-all duration-150 ease-linear transform bg-center opacity-10 group-hover:opacity-20 bg-cover bg-[url('{{ featured.image }}')]">
                <!-- accessibility -->
                <img class="hidden" alt="Cover image of {{ featured.title }}">
            </div>
            <div class="flex flex-col transition-all duration-500 ease-in-out transform w-full h-full">
                <h2 class="text-4xl pr-5 font-bold ml-8 mt-8">{{ featured.title }}</h2>
                <p class="mt-4 ml-8 mb-4 pr-5 text-lg">
                    {{ featured.description }}
                </p>
                <div class="flex flex-row mt-auto ml-8 mb-6">
                    <p class="mr-8">{{ featured.date | date: "%d. %m. %Y"}}</p>

                    {% for tag in featured.tags %}
                        <p class="pr-2">{{ tag | upcase }}</p>
                    {% endfor %}
                </div>
            </div>
        </article>
    </a>

    <p class="mb-4">COOL SITES</p>
    <div class="mb-10">
        <p class="prose prose-blog text-base md:text-lg">
            <a href="https://blackblog.cz/" target="_blank">Black Blog</a> - A blog about development, math, physics, literature, and tea <br>
            <a href="https://mrms.cz/" target="_blank">mrms.cz</a> - Creating projects in memory unsafe languages since 2020 <br>
            <a href="https://rdck.dev/" target="_blank">rdck.dev</a> - This guy is unironically creating his own web browser<br>
            <a href="https://mvolfik.github.io/" target="_blank">Matěj Volf</a> - Based shitposter disguised as a programmer        
        </p>

        <p class="text-lg mt-2 prose prose-blog"><a href="/void/cool-sites">more cool sites</a></p>
    </div>

    <p class="mb-8 text-center prose prose-blog text-base md:text-lg">ඞ Proud member of <a href="https://0d9e.tech/" target="_blank">0D9E</a> ඞ</p>

    <p class="mb-4">RECENT POSTS</p>
    {% assign posts = site.posts | where: 'unlisted', nil | slice: 0, 5 %}
    {% for post in posts %}
        {% if featured.url != post.url %}
            {% include article_view.html %}
        {% endif %}
    {% endfor %}
    <p class="text-lg mt-2 prose prose-blog"><a href="/void/">more articles</a></p>
</div>