---
layout: default
language: none
image: /assets/images/pfp.png
---

<div class="flex flex-col">
    {% assign featured = site.posts | sort: "date" | where: 'featured', true | first %}
    {% if featured != nil %}
    <p class="mb-4">FEATURED</p>
    <a href="{{ featured.url }}" class="mb-10">
        <article class="group relative flex items-center justify-center overflow-hidden w-full mb-3 h-60 shadow-lg">
            <div class="absolute w-full h-full transition-all duration-150 ease-linear transform bg-center opacity-10 group-hover:opacity-20 bg-cover bg-[url('{{ featured.image }}')]">
                <!-- accessibility -->
                <img class="hidden" alt="Cover image of {{ featured.title }}">
            </div>
            <div class="flex flex-col transition-all duration-500 ease-in-out transform w-full h-full">
                <h2 class="text-4xl font-bold ml-8 mt-8">{{ featured.title }}</h2>
                <p class="mt-4 ml-8 text-lg">
                    {{ featured.description }}
                </p>
                <div class="flex flex-row mt-auto ml-8 mb-6">
                    <p class="mr-8">{{ featured.date | date: "%d. %m. %Y"}}</p>

                    {% for tag in featured.tags %}
                        <p class="pr-2">{{ tag | upcase }}</p>
                    {% endfor %}
                </div>
            </div>
        </article>
    </a>
    {% endif %}

    <p class="mb-4">COOL SITES</p>
    <div class="mb-10">
        <p class="prose prose-blog text-lg">
            <a href="https://blackblog.cz/">Black Blog</a> - A blog about development, math, physics, literature, and tea <br>
            <a href="https://mrms.cz/">mrms.cz</a> - Creating overengineered (he disagrees) projects in memory unsafe languages since 2020 <br>
            <a href="https://rdck.dev/">rdck.dev</a> - A cool redhead guy doing cool programming stuff <br>
            <a href="https://mvolfik.github.io/">Matěj Volf</a> - Based shitposter disguised as a programmer
        </p>

        <p class="text-lg mt-2 prose prose-blog"><a href="/void/cool-sites">more cool sites</a></p>
    </div>

    {% assign posts = site.posts | where: 'unlisted', nil | slice: 0, 7 %}
    {% for post in posts %}
        {% if post.featured != nil %} {% continue %} {% endif %}
        <!-- https://daily-dev-tips.com/posts/tailwind-zooming-background-images/ -->
        <a href="{{ post.url }}">
            <article class="group relative flex items-center justify-center overflow-hidden w-full mb-3 hover:mb-4 hover:mt-2 h-36 hover:h-44 transition-all ease-in-out transform shadow-lg">
                <div class="absolute w-full h-full transition-all duration-150 ease-linear transform bg-center opacity-10 group-hover:opacity-20 bg-cover bg-[url('{{ post.image }}')]">
                    <!-- accessibility -->
                    <img class="hidden" alt="Cover image of {{ post.title }}">
                </div>
                <div class="flex flex-col transition-all duration-500 ease-in-out transform w-full h-full">
                    <h2 class="text-4xl font-bold ml-8 mt-8 group-hover:text-2xl group-hover:ml-6 group-hover:mt-6 transition-all transform">{{ post.title }}</h2>
                    <p class="opacity-0 duration-[150ms] mt-4 ml-10 group-hover:opacity-100 group-hover:ml-6">
                        {{ post.description }}
                    </p>
                    <div class="flex flex-row mt-auto ml-8 mb-6 group-hover:ml-6 group-hover:mb-4 opacity-0 group-hover:opacity-100 duration-[100ms] ease-in">
                        <p class="mr-8">{{ post.date | date: "%d. %m. %Y"}}</p>

                        {% for tag in post.tags %}
                            <p class="pr-2">{{ tag | upcase }}</p>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </a>
    {% endfor %}
</div>