---
layout: page
title: Void
description: >- 
    Here I scream. 
    A hub for my rants, 'blog posts', and other stuff.

locale: cs
translation: infer
---

<h2>Void</h2>

<p>Tady křičím do prázdnoty internetů. Články tady sahají od naprostých hoven až po technické writeupy. Vybírej pečlivě.</p>
<hr>

<h2>Připnuté</h2>

<div class="flex flex-wrap flex-row justify-start">
    {% assign pages = site.pages | where: 'pinned', 'true' %}
    {% assign posts = site.posts | where: 'pinned', 'true' %}
    {% assign all = pages | concat: posts | sort: 'title' %}
    {% for page in all %}
        <a href="{{ page.url }}"><p class="!my-1 pr-4">{{ page.title }}</p></a>
    {% endfor %}
</div>

<h2>Podle štítku</h2>

{% include tag_cloud.html %}